<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/grades}">Grades</a>
    </div>   
    <div class="container">
      <h2> Grade Portal </h2>
      <form method="post" th:object="${grade}" th:action="@{/handleSubmit}"> 
        <input type="text" placeholder="Name" th:field="*{name}">
        <p style="color:red" th:errors="*{name}"></p>
        <input type="text" placeholder="Score" th:field="*{score}">
        <p style="color:red" th:errors="*{score}"></p>

        <select class="select" th:field="*{subject}">
          <option style="color:blue" value="">Choose Subject</option>
          <option th:each="subject: ${subjects}" th:text="${subject}" th:value="${subject}"> Placeholder </option>
        </select>

        <!--<input type="text" placeholder="Subject" th:field="*{subject}">
        <p style="color:red" th:errors="*{subject}"></p>-->

        <ul th:if="${#fields.hasErrors('global')}">
          <li style="color:red"> Invalid Data. Please check your data</li>
        </ul>

        <p style="font-weight: bold">Exam Date</p>
        <input type="date" placeholder="Exam" th:field="*{examDate}"> <br><br>
        <p style="color:red" th:errors="*{examDate}"></p>

        <input type="hidden"  th:field="*{id}">

        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>
