<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Kries ÖPNV</title>
    <link th:href="@{/grades-stylesheet.css}" rel="stylesheet">
    <style>
.banner {
  text-align: center;
  border: 3px solid green;
  background-color: lightblue;
}
</style>

  </head>
  <body>

    <div class="topnav">
      <a th:href="@{https://www.mobidata-bw.de/group/barrierefreie-reisekette}"> Barrierefreiheit  Baden-Württemberg</a>
      <a th:href="@{/landingPage}">Home</a>
    </div>

    <div class="table-display">
    <h2>Keine Informationen für diesen Ort Vorhanden</h2>
    </div>
    
  </body>
</html>
