<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Kries ÖPNV</title>
    <link th:href="@{/grades-stylesheet.css}" rel="stylesheet">
    <style>
.banner {
  text-align: center;
  border: 3px solid green;
  background-color: lightblue;
}
</style>

  </head>
  <body>

    
    <div class="topnav">
        <a th:href="@{https://www.mobidata-bw.de/group/barrierefreie-reisekette}"> Barrierefreiheit  Baden-Württemberg</a>
        <a th:href="@{/landingPage}">Home</a>
      </div>

    


    <div class="table-container">

      
      <div class="scrollable-table">

        <table  id="table"> 
          <caption><p class="banner-info" th:text="'Haltestellen im  '+${kreisname.name}"></p></caption>
          <tr>
            <th>Name</th>
            <th>Dhid</th>
            <th>OSM Id</th>
            <th>Link</th>
          </tr>
          <tr th:each="stop: ${stopsAtKreis}">
              <td th:text="${stop.hstName}"></td>
            <td th:text="${stop.dhid}"></td>
            <td th:text="${stop.osmId}"></td>
            <td><a role="button" class="update" th:href="@{'/Facility/'+${stop.id}}">Einrichtungen am Bahnhof</a> </td>
  
          </tr>
        </table>

      </div>
    </div>

    
  </body>
</html>
